.MindMapDraw{
    background-color: aqua;
    height: 75vw;
    overflow-x: scroll;   /*横のスクロールバーを表示する*/
    overflow-y: scroll;   /*縦のスクロールバーを表示する*/
}

#circle{
    display: inline-block;
    width: 100px;  /*幅*/
    height: 100px;  /*高さ*/
    border-radius: 50%;  /*角の丸み*/
    background: skyblue;
    text-align:center;
    line-height: 80px;
}