.TaskAdd{
    text-align: center;
    background-color: white;
    margin:2%;
    position: relative;
}
.TaskAdd h1{
    font-size: 300%;
}

form {
    width: 14vw;
    display: inline;
  }
  form input,
  form select {
    width: 100%;
  }
  form p {
    width: 100%;
  }
p{
    font-size:larger;
    font-weight: 700;
}
.TaskAddHelpButton {
    position: absolute;
    top: 0.5vh;
    right: 0.5vw;
}

.TaskAddQuestionButton {
    width: 3vw;
    height: 3vw;
    background-color: gray;
    font-size: 200%;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.taskadd-modal-container {
    position: absolute;
    top: 8vh;
    right: 5vw;
    width: 30vw;
    text-align: center;
  }
  
  .taskadd-modal-content {
    background-color: white;
    padding: 20px;
  }

  #parents{
    background-color: rgb(146, 255, 240);
    overflow-x: scroll;
    overflow-y: scroll;
    position: relative;
  }
