.TaskAdd{
    text-align: center;
    background-color: white;
    height: 39vw;
    margin:2%;
    position: relative;
}
p{
    font-size:larger;
    font-weight: 700;
}

.black-bg{
    width: 23vw;
    height: 35vw;
    background: rgba(0, 0, 0, 0.5);
    position: relative;  /*fixed => relativeに変更*/
    padding: 20px;
}

.white-bg{
    width: 20vw;
    height: 32vw;
    background: white;
    border-radius: 30px;
    padding: 20px;
}
