.TaskEdit{
    text-align: center;
    background-color: white;
    height: 50vh;
    margin:2%;
    position: relative;
}
.TaskEdit h1{
    font-size: 300%;
}

form {
    /* 폼 전체 크기 조정 */
    width: 14vw;
    display: inline;
  }
  
  form input,
  form select {
    width: 100%;
  }
  
  form p {
    width: 100%;
  }
  
p{
    font-size:larger;
    font-weight: 700;
}


.TaskEditHelpButton {
    position: absolute;
    top: 0.5vh;
    right: 0.5vw;
}

.white-back{
    background-color: white;
    width: 20vw;
    height: 20vw;
}

.TaskEditQuestionButton {
    width: 3vw;
    height: 3vw;
    background-color: gray;
    font-size: 200%;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.taskedit-modal-container {
    position: absolute;
    top: 8vh;
    right: 5vw;
    width: 30vw;
    text-align: center;
  }
  
  .taskedit-modal-content {
    background-color: white;
    padding: 20px;
  }
  #parentsEdit{
    background-color: rgb(146, 255, 240);
    overflow-x: scroll;
    overflow-y: scroll;
    position: relative;
  }
