.TaskAdd{
    text-align: center;
    background-color: white;
    height: 75vw;
    margin:2%;
}

/* .black-bg{
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    padding: 20px;
}

.white-bg{
    width: auto;
    background: white;
    border-radius: 30px;
    padding: 20px;
} */